body.level-2 {
    background-image: url('../images/wallpaper-level-2.gif');
}

body.level-2  h1#texto-principal::before {
    content: "Uma longa viagem começa com um único passo";
    display: block;
    max-width: 400px;
    margin: auto;
}

body.level-2 .progress{
    border: solid 1px #75db87;
}

body.level-2 .todo-input{
    border: 2px solid #75db88;
}
  
body.level-2 .todo-app{
    background: linear-gradient( 
        30deg , 
        rgb(63 77 95) 30%, 
        rgb(90 169 144) 90% );
        border: solid 3px #417581;
}
  
body.level-2 .todo-button {
    background: linear-gradient(
        90deg,
        rgb(120 224 135) 0%,
        rgb(87 163 141) 100%
    );
}
  
body.level-2 .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgb(112 219 226) 0%,
      rgb(212 255 232) 100%
    );
}

body.level-2 .todo-row {
    background: linear-gradient(
      90deg,
      rgb(112 219 226) 0%,
      rgb(212 255 232) 100%
    );
}

body.level-2 .todo-row:nth-child(4n + 1)  {
    background: linear-gradient(
      90deg,
      rgb(69 122 129) 0%,
      rgb(120 224 135) 100%
    );
}
  
body.level-2 .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgb(119 222 135) 0%,
      rgb(79 182 225) 100%
    );
}
  
body.level-2 .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgb(80 183 223) 0%,
      rgb(113 220 226) 100%
    );
}
  

  