@charset "UTF-8";
div#loading {
    display: none;
    background-color: rgb(0 0 0 / 90%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    color: white;
    font-size: 20px;
}

div#loading.active {
    display: flex;
}

p#story {
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}

#close::before {
    content: "Continuar";
    margin-top: 20px;
    font-size: 15px;
    display: block;
    cursor: pointer;
    color: #e7d608;
}