@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');

/*font-family: 'Griffy', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

/*font-family: 'Lobster Two', cursive;*/

* {
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
p {
    font-family: 'Lobster Two', cursive;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-app {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 400px;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

h1 {
    margin: 40px 0;
    color: #fff;
    font-size: 24px;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-form {
    margin-bottom: 32px;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #467d81;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

.todo-input::placeholder {
    color: #e2e2e2;
}

.todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    color: #fff;
    text-transform: capitalize;
}

.todo-input.edit {
    border: 2px solid #149fff;
}

.todo-button.edit {
    padding: 16px 22px;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

.icons {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }